<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^sitemap.xml$ sitemap.xml [L,QSA]
    RewriteRule ^robots.txt$ robots.txt [L,QSA]
    RewriteCond %{REQUEST_URI} !/public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
