body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer.footer {
    margin-top: auto;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.header-page {
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFFFFF;
        -webkit-transition: 0.4s all;
        -o-transition: 0.4s all;
    transition: 0.4s all;
    z-index: 999;
}

.header-fixed-height {
    height: 77px;
    margin-top: 40px;
}

.my-mode-toggle {
    top: 100px;
}

#topnav .logo .l-light, #topnav .logo .logo-light-mode {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

#topnav .logo .logo-text {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
}

#topnav.nav-sticky .logo .logo-text {
    color: #3c723d;
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding: 8px 0;
    background: transparent;
}

.breadcrumb .breadcrumb-item {
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    padding-left: 0;
    display: inline-block;
}

.breadcrumb .breadcrumb-item:after {
    display: none;
}

.footer .logo-footer {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
}

.preloader-remove {
    visibility: hidden;
    opacity: 0;
}

.header-search-btn i {
    color: rgba(255, 255, 255, .5);
}

.nav-sticky .header-search-btn i {
    color: #212529;
}

button {
    outline: none;
}

/* button:active, button:focus {
    border: none;
    outline: none;
} */

button::-moz-focus-inner {
	border: 0;
}

.header-search-btn.btn {
    border: none;
    outline: none;
}

.header-search-btn.btn.show {
    border: none;
    outline: none;
}

.bg-half-40 {
    padding: 40px 0;
    background-size: cover;
    align-self: center;
    position: relative;
    background-position: center center;
}

.loc-page {
    max-height: 200px;
    list-style: none;
    padding-left: 0;
    overflow: auto;
}

.ql-editor p:not(.ql-indent-8) {
    text-indent: 30px;
}

.fielddok {
    cursor: pointer;
    color: #dba7a7;
}

.text-blure {
    filter: blur(5px);
}

.fields-list label {
    font-size: 14px;
}

.var-label:not(:first-child) {
	margin-top: 1.5rem;
}

.header-container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 0;
}

.logo img {
    width: 50px;
    height: 50px;
}

.text-logo {
    line-height: 1;
}

.fs-28 {
    font-size: 28px;
}

.site-footer {
    background: #313a46;
    color: #FFFFFF;
}

.site-footer a.nav-link {
    color: #dee2e6bf;
}

.footer-logo-title {
    font-weight: 700;
    font-size: 24px;
}

.dashboard-logout-btn {
    padding: 0;
}

.block-tabs {
    margin-bottom: 60px;
}

.block-tabs .nav-pills {
    gap: 8px;
}

.block-tabs .nav-pills a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 100%;
    padding: 0.3rem;
    background: #2f55d41a;
}

.block-tabs .block-tabs-child .nav-pills a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 100%;
    padding: 0.3rem 1.6rem;
    background: #2f55d41a;
}

.block-tabs .nav-pills a.nav-link.active {
    background-color: var(--bs-nav-pills-link-active-bg);
}

.block-tabs .nav-pills a.nav-link:hover {
    background: #2848b4;
}

.block-tabs .nav-pills a.nav-link:hover h6 {
    color: #FFFFFF;
}

.block-tabs .nav-pills a.nav-link.active {
    pointer-events: none;
}

.block-product {
    /* max-height: 600px;
    overflow: auto;
    min-height: 300px; */
    margin-bottom: 60px;
}

.product-block {
    max-height: 600px;
    overflow: auto;
}

.product-page {
    background: #f2f8fc;
}

.product-page .product-block {
    max-height: 100%;
    overflow: auto;
}

.product-page .product-block.ql-editor p {
    /* font-family: none; */
    font-size: 14px;
    line-height: 1.2;
}

.fields-list-col {
    height: fit-content;
}

.pay-action {
    margin-left: auto;
}

.block-situations {
    margin-bottom: 60px;
}

.situation-item {
    position: relative;
}

.si-img {
    width: 150px;
}

.si-text {
    width: 160px;
}

.si-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* .block-faq {
    margin-bottom: 60px;
} */

.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 30em;
}

.ql-editor .ql-align-center {
    text-align: center;
}

.ql-editor .ql-align-right {
    text-align: right;
}

.ql-editor p {
    margin-bottom: 0.1rem;
}

/* flip-card */
.flip-card {
    perspective: 1000px;
    width: auto;
    height: 370px;
}

.flip-card.high {
    height: 420px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-front {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.flip-card-front img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
}

.flip-card-front-title {
    height: 80px;
    font-size: 1.3rem;
    line-height: 1.2;
}

.flip-card-front ul {
    margin: 80px 0 0 20px;
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.3;
}

.flip-card-back {
    color: #FFFFFF;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 20px;
}

.flip-card-back a {
    color: #FFFFFF;
    font-size: 1.1rem;
    line-height: 1.6;
}

.flip-card-back a:hover {
    color: #f8f9fa !important;
    text-decoration: underline !important;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.waving-hand {
    display: inline-block;
    animation: wave 2.5s infinite;
    transform-origin: 70% 70%;
}
/* flip-card */

.title-heading .heading.heading-lg {
    font-size: 50px !important;
}

.home #topnav .logo {
    float: left;
    color: #FFFFFF !important;
}

.home #topnav.nav-sticky .logo {
    float: left;
    color: #212529 !important;
}

.home .btn-soft-primary {
    background-color: rgba(255, 255, 255, .76) !important;
    border: 1px solid rgba(47, 85, 212, .05) !important;
    color: #000 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, .1);
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, .1);
}

.home .btn-soft-primary:hover {
    background-color: #FFFFFF !important;
}

.home #topnav.nav-sticky .btn-soft-primary {
    background-color: rgba(47, 85, 212, .05) !important;
}

.home #topnav.nav-sticky .btn-soft-primary:hover {
    background-color: #2f55d4 !important;
    color: #FFFFFF !important;
}

.home .lawyer-wrapper .img-fluid {
    pointer-events: none;
}

.doc-page .h1, h1 {
    font-size: calc(1.375rem);
}

.page h1 {
    font-size: 2rem;
}

.page h2 {
    font-size: 1.5rem;
}

.page p {
    margin-bottom: .5rem;
}

.service-item {
    position: relative;
}

.service-item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.service-item img {
    width: 100%;
    height: auto;
}

.calculators-item {
    position: relative;
}

.calculators-item a.calculators-item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.calculators-item a.calculators-item-link:hover ~ .blog {
    transform: translateY(-10px);
}

.result {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 0.3s ease;
}

.result.active {
    visibility: visible;
    opacity: 1;
    height: auto;
    margin-bottom: 3rem;
}

.pleload-imgs {
    position: relative;
    gap: 16px;
    height: 434px;
    overflow: hidden;
}

.pleload-img {
    flex: none;
    height: 434px;
    cursor: zoom-in;
    transition: all 0.5s ease;
}

.pleload-img img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.page-count-wrap {
    position: relative;
}

.page-count {
    position: absolute;
    top: 40%;
    left: -35px;
    background: yellow;
    padding: 8px 12px;
    border-radius: 0 0 8px 8px;
    transform: rotate(-90deg);
}

.pleload-imgs-nav {
    gap: 4px;
}

.pleload-imgs-nav-item button {
    padding: 8px 14px;
    border-radius: 0px 8px 8px 0px;
}

.btn-close-custom {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.documents-list {}

.document-card {
    position: relative;
    height: 100%;
}

.document-card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.document-card h3 {
    font-size: 18px;
}

.doc-price {
    margin-top: auto;
}

@media (min-width: 1200px) {
    .doc-page .h1, h1 {
        font-size: 1.75rem;
    }
}

@media (max-width: 1349px) {
    .ql-editor .ql-indent-8:not(.ql-direction-rtl) {
        padding-left: 50%;
    }
}

@media (max-width: 991px) {
    .menu-extras {
        margin-left: auto;
    }

    #topnav .logo .logo-text {
        font-size: 18px;
        color: #3c723d;
    }

    .home #topnav .logo {
        color: #212529 !important;
    }

    .text-logo-top {
        font-size: 18px;
    }

    .text-logo-bottom {
        display: none !important;
    }

    .pleload-imgs-nav-item button {
        padding: 6px 16px;
        border-radius: 0px 0px 8px 8px;
    }

    .pleload-img {
        height: auto;
    }

    .pleload-img img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .block-tabs .nav-pills a.nav-link {
        max-width: 100%;
    }
}

@media (max-width: 440px) {
    .header-container {
        gap: 8px;
    }

    .header-fixed-height {
        margin-top: 20px;
    }

    .pagination .page-item .page-link {
        padding: 4px 10px;
        font-size: 12px;
    }

    .text-logo-top {
        font-size: 18px;
    }
}
