html[data-sidenav-size=condensed] .wrapper .content-page {
    min-height: calc(100vh - var(--ct-topbar-height));
}

html[data-sidenav-size=condensed] .wrapper .leftside-menu .side-nav .side-nav-item:hover>.collapse>ul a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-logo {
    color: #FFFFFF;
}

.auth-brand .text-logo {
    font-size: 18px;
    font-weight: 600;
    color: var(--ct-heading-color);
}

.dashboard-logout-btn {
    border: none;
    background: none;
    font-weight: 400;
    color: var(--ct-dropdown-link-color);
}

.cursor-pointer:not(:disabled) {
    cursor: pointer;
}

.alert-container {
    margin-bottom: 1.875rem;
}

.alert-container-offcanvas {
    margin-bottom: .5rem;
}

.hc-500 {
    height: 500px;
}

.w-fit-cont {
    width: fit-content;
}

.vars-wrap {
    gap: 20px;
}

.vars-wrap-item {
    width: calc((100% - 20px) / 2);
}

.vars-product,
.vars-all {
    height: 450px;
}

.vars-product button:not(:last-child),
.vars-all button:not(:last-child) {
	margin-bottom: .3125rem;
}

.input-group-text-sm {
    min-height: calc(1.5em + .56rem + calc(var(--ct-border-width) * 2));
    padding: .28rem .8rem;
    font-size: .85rem;
    border-radius: .25rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--ct-body-color);
  -webkit-box-shadow: 0 0 0px 40rem #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

.filepond--panel-root {
    background-color: var(--ct-body-bg);
    border: var(--ct-border-width) solid var(--ct-border-color);
}

.filepond--list.filepond--list {
    display: flex;
    gap: 10px;
}

.post-gallery .filepond--item {
    width: calc((100% - 3em) / 4);
}

.filepond--root .filepond--credits[style] {
    display: none;
}

.filepond--drop-label.filepond--drop-label label {
    color: var(--ct-body-color);
}

input.tagsinput {
    visibility: hidden;
    height: 0;
}

.tagitem {
    cursor: default;
}

.tagitem i {
    cursor: pointer;
}

.tagitem i:hover {
    color: #dc3545;
}

.ql-editor.ql-blank::before {
    color: inherit;
}

.table-img {
    width: 30px;
    height: 30px;
}

.table-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label-upload-doc {
    cursor: pointer;
}

input.input-upload {
    display: none;
}

.user-info p {
    margin-bottom: .4rem;
}

/* .user-info {
    max-width: 200px;
}

.prod-title {
    max-width: 300px;
} */

.post-thumbnail-img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: .25rem;
    overflow: hidden;
}

.post-thumbnail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-thumbnail-img button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.thumbnail-remove {
    padding: 6px 10px;
}

.post-gallery-img {}

.post-gallery-img .post-gallery-edit-item {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: .25rem;
    overflow: hidden;
}

.post-gallery-img .post-gallery-edit-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.post-gallery-img .post-gallery-edit-item button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.post-gallery-img .post-gallery-edit-item.gu-transit button {
    display: none;
    opacity: 0;
}

input.input-upload {
    display: none;
}

.label-upload {
    display: none;
}

.label-upload.activate {
    display: inline-block;
}

.user-settings .card-body {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.adm-user-settings {
    max-width: 260px;
    width: 260px;
}

.btn-del-acc-option {
    top: 7px;
    right: 30px;
    z-index: 9;
}

.acc-options .accordion-item:first-child .btn-del-acc-option {
	display: none;
}

.btn-info-add {
    position: fixed;
    top: 150px;
    right: 20px;
    z-index: 9;
    padding: 2px 6px;
}

.btn-adm {
    padding: .3rem .4rem;
    line-height: 1;
}

.in-progress {
    pointer-events: none;
}

.add-post-info {
    /* position: fixed;
    top: 150px;
    right: 20px;
    z-index: 9; */
    padding: 2px 6px;
}

.tab-img {
    width: 40px;
    height: 30px;
    overflow: hidden;
    padding: 2px;
}

.tab-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table-post-title {
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.active>.page-link, .page-link.active {
    background-color: #16a34a;
    border-color: #16a34a;
}

.js-spinner-thumb,
.js-spinner-gallery {
    display: none;
}

.status-value {
    font-weight: 600;
}

td .status-value {
    font-size: 12px;
}

.status-value.published {
    color: #87bf8a;
}

.status-value.pending,
.status-value.draft {
    color: #e7607b;
}

.status-value.private {
    color: #d89e70;
}

.list-group-item h5::first-letter {
    text-transform: uppercase;
}

.parent-var-table {
    font-weight: 900;
}

.table-sm .parent-var-title {
    padding: .5rem .5rem .5rem 30px;
}

.fl-upp::first-letter {
    text-transform: uppercase;
}

.delete-var-title {
    font-size: 1.2em;
    font-weight: 900;
}

.actions-product {
    min-width: 80px;
}

.groups-product {
    font-size: 10px;
}

.btn-filter-close {
    display: none;
}

.btn-filter-close.active {
    display: block;
}

.product-descr-form {
    position: relative;
    height: 400px;
}

.product-descr-form.h600 {
    height: 600px;
}

.product-descr-form.h-full {
    min-height: 400px;
    height: 100%;
}

.form-check input,
.form-check label {
    cursor: pointer;
}

.offcanvas.offcanvas-end.offcanvas-vars {
    width: 50%;
}

.vars-item button {
    width: 30%;
}

.vp-title {
    min-height: 44px;
}

.btn-var-prod {
    font-size: 12px;
}

.btn-var-del-prod,
.btn-bloks-del {
    padding: 0 4px;
}

.btn-bloks-del.inactive {
    display: none;
}

.var-label {
    cursor: pointer;
}

.var-label:not(:first-child) {
	margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.calc-fields {
    display: none;
}

.calc-fields.active {
    display: flex;
}

.cursor-point {
    cursor: pointer;
}

.form-control.is-warning {
    color: #d89e70;
    border-color: #d89e70;
    padding-right: calc(1.5em + .9rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .225rem) center;
    background-size: calc(.75em + .45rem) calc(.75em + .45rem);
}

.warning-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .75rem;
    color: #d89e70;
}

.is-warning~.warning-feedback {
    display: block;
}

select.form-select option:disabled {
    background: #fbfbfb;
}

[data-bs-theme=dark] select.form-select option:disabled {
    background: #3e4651;
}

.js-acc-item-delete {
    position: absolute;
    top: 16px;
    right: 60px;
    z-index: 9;
}

/* .accordion .accordion-item:first-child .js-acc-item-delete {
	display: none;
} */

.js-stages-item-delete {
    position: absolute;
    top: 16px;
    right: 60px;
    z-index: 9;
}

.js-stage-item-delete {
    position: absolute;
    top: 16px;
    right: 60px;
    z-index: 9;
}

.accordion.type-dispute .accordion-item:first-child .js-acc-item-delete {
	display: none;
}

.accordion.stages .accordion-item:first-child .js-stages-item-delete {
	display: none;
}

.button-block {
    position: relative;
}

.btn-blok-del {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
}

.count-mess {
    min-width: 36px;
    height: 36px;
}

@media (max-width: 867px) {
    .post-gallery .filepond--item {
        width: calc((100% - 2em) / 2);
    }
}

@media (max-width: 767px) {
    .add-post-info {
        top: 90px;
        right: 10px;
    }

    .table-sm .parent-var-title {
        padding: .5rem .5rem .5rem 20px;
    }

    .offcanvas.offcanvas-end.offcanvas-vars {
        width: 100%;
    }

    .vars-item button {
        width: 150px;
    }

    .vars-wrap-item {
        width: 100%;
    }
}

@media (max-width: 567px) {
    .nav-tabs.nav-bordered li a {
        padding: 10px;
    }
}
