:root {
    --ct-logo-lg-height: 20px;
    --ct-logo-sm-height: 20px;
    --ct-leftbar-width: 260px;
    --ct-leftbar-width-md: 160px;
    --ct-leftbar-width-sm: 70px;
    --ct-leftbar-condensed-height: 1500px;
    --ct-topbar-height: 70px;
    --ct-menu-item-icon-size: 1.1rem;
    --ct-menu-item-icon-width: 40px;
    --ct-menu-item-font-size: 0.925rem;
    --ct-menu-item-padding-x: 8px;
    --ct-menu-item-padding-y: 9px;
    --ct-footer-height: 60px;
    --ct-theme-card-border-width: 1px;
    --ct-breakpoint-xs: 0;
    --ct-breakpoint-sm: 576px;
    --ct-breakpoint-md: 768px;
    --ct-breakpoint-lg: 992px;
    --ct-breakpoint-xl: 1200px;
    --ct-breakpoint-xxl: 1400px;

    /* .nav-pills */
    --ct-nav-pills-border-radius: 0.375rem;
    --ct-nav-pills-link-active-color: #fff;
    --ct-nav-pills-link-active-bg: #6da09c;

    /* .nav-underline */
    --ct-nav-underline-gap: 1rem;
    --ct-nav-underline-border-width: 0.125rem;
    --ct-nav-underline-link-active-color: var(--ct-emphasis-color);
}

html[data-menu-color=light] {
    --ct-menu-bg: linear-gradient( 45deg, hsl(240deg 20% 99%) 0%, hsl(253deg 39% 98%) 24%, hsl(256deg 47% 98%) 35%, hsl(257deg 53% 97%) 45%, hsl(258deg 56% 97%) 55%, hsl(258deg 58% 96%) 65%, hsl(258deg 60% 96%) 76%, hsl(259deg 62% 95%) 100%);
    --ct-menu-item-color: #495057;
    --ct-menu-item-hover-color: #6da09c;
    --ct-menu-item-active-color: #6da09c;
    --ct-menu-condensed-link-bg: #313a46
}

html[data-bs-theme=dark][data-menu-color=light],
html[data-menu-color=dark] {
    --ct-menu-bg: #313a46;
    --ct-menu-item-color: #8391a2;
    --ct-menu-item-hover-color: #bccee4;
    --ct-menu-item-active-color: #ffffff;
    --ct-menu-condensed-link-bg: #313a46
}

html[data-menu-color=brand] {
    --ct-menu-bg: #6da09c;
    --ct-menu-item-color: #cedce4;
    --ct-menu-item-hover-color: #ffffff;
    --ct-menu-item-active-color: #ffffff;
    --ct-menu-condensed-link-bg: #313a46
}

html[data-topbar-color=light] {
    --ct-topbar-bg: transparent;
    --ct-topbar-item-color: #495057;
    --ct-topbar-item-hover-color: #6da09c;
    --ct-topbar-search-bg: transparent;
    --ct-topbar-user-bg: #fbfcfc;
    --ct-topbar-user-border: #eef2f7
}

html[data-bs-theme=dark][data-topbar-color=dark],
html[data-bs-theme=dark][data-topbar-color=light] {
    --ct-topbar-bg: transparent;
    --ct-topbar-item-color: #8391a2;
    --ct-topbar-item-hover-color: #bccee4;
    --ct-topbar-search-bg: transparent;
    --ct-topbar-user-bg: #363f4a;
    --ct-topbar-user-border: #414d5d
}

:root,
[data-bs-theme=light] {
    --ct-blue: #3e60d5;
    --ct-indigo: #3e60d5;
    --ct-purple: #6b5eae;
    --ct-pink: #ff679b;
    --ct-red: #e7607b;
    --ct-orange: #fd7e14;
    --ct-yellow: #d89e70;
    --ct-green: #87bf8a;
    --ct-teal: #6da09c;
    --ct-cyan: #2cd0df;
    --ct-black: #000;
    --ct-white: #fff;
    --ct-gray: #6c757d;
    --ct-gray-dark: #343a40;
    --ct-gray-100: #f8f9fa;
    --ct-gray-200: #f2f2f7;
    --ct-gray-300: #dee2e6;
    --ct-gray-400: #ced4da;
    --ct-gray-500: #adb5bd;
    --ct-gray-600: #6c757d;
    --ct-gray-700: #495057;
    --ct-gray-800: #343a40;
    --ct-gray-900: #212529;
    --ct-primary: #6da09c;
    --ct-secondary: #6c757d;
    --ct-success: #87bf8a;
    --ct-info: #2cd0df;
    --ct-warning: #d89e70;
    --ct-danger: #e7607b;
    --ct-light: #f2f2f7;
    --ct-dark: #212529;
    --ct-primary-rgb: 109, 160, 156;
    --ct-secondary-rgb: 108, 117, 125;
    --ct-success-rgb: 135, 191, 138;
    --ct-info-rgb: 44, 208, 223;
    --ct-warning-rgb: 216, 158, 112;
    --ct-danger-rgb: 231, 96, 123;
    --ct-light-rgb: 242, 242, 247;
    --ct-dark-rgb: 33, 37, 41;
    --ct-primary-text-emphasis: #62908c;
    --ct-secondary-text-emphasis: #616971;
    --ct-success-text-emphasis: #7aac7c;
    --ct-info-text-emphasis: #28bbc9;
    --ct-warning-text-emphasis: #c28e65;
    --ct-danger-text-emphasis: #d0566f;
    --ct-light-text-emphasis: #ced4da;
    --ct-dark-text-emphasis: #495057;
    --ct-primary-bg-subtle: #eceffb;
    --ct-secondary-bg-subtle: #f8f9fa;
    --ct-success-bg-subtle: #e7f2e8;
    --ct-info-bg-subtle: #d5f6f9;
    --ct-warning-bg-subtle: #f7ece2;
    --ct-danger-bg-subtle: #fadfe5;
    --ct-light-bg-subtle: #fcfcfd;
    --ct-dark-bg-subtle: #ced4da;
    --ct-primary-border-subtle: #b2bfee;
    --ct-secondary-border-subtle: #f2f2f7;
    --ct-success-border-subtle: #cfe5d0;
    --ct-info-border-subtle: #abecf2;
    --ct-warning-border-subtle: #efd8c6;
    --ct-danger-border-subtle: #f5bfca;
    --ct-light-border-subtle: #f2f2f7;
    --ct-dark-border-subtle: #adb5bd;
    --ct-white-rgb: 255, 255, 255;
    --ct-black-rgb: 0, 0, 0;
    --ct-font-sans-serif: "Arimo", sans-serif;
    --ct-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --ct-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --ct-body-font-family: var(--ct-font-sans-serif);
    --ct-body-font-size: 0.875rem;
    --ct-body-font-weight: 400;
    --ct-body-line-height: 1.5;
    --ct-body-color: #6c757d;
    --ct-body-color-rgb: 108, 117, 125;
    --ct-body-bg: #ffffff;
    --ct-body-bg-rgb: 255, 255, 255;
    --ct-emphasis-color: #000;
    --ct-emphasis-color-rgb: 0, 0, 0;
    --ct-secondary-color: rgba(108, 117, 125, 0.75);
    --ct-secondary-color-rgb: 108, 117, 125;
    --ct-secondary-bg: #fff;
    --ct-secondary-bg-rgb: 255, 255, 255;
    --ct-tertiary-color: #313539;
    --ct-tertiary-color-rgb: 49, 53, 57;
    --ct-tertiary-bg: #f8f9fa;
    --ct-tertiary-bg-rgb: 248, 249, 250;
    --ct-heading-color: inherit;
    --ct-link-color: #6da09c;
    --ct-link-color-rgb: 109, 160, 156;
    --ct-link-decoration: none;
    --ct-link-hover-color: #5d8885;
    --ct-link-hover-color-rgb: 93, 136, 133;
    --ct-code-color: #2cd0df;
    --ct-highlight-bg: #f7ece2;
    --ct-border-width: 1px;
    --ct-border-style: solid;
    --ct-border-color: #dee2e6;
    --ct-border-color-translucent: rgba(0, 0, 0, 0.175);
    --ct-border-radius: 0.375rem;
    --ct-border-radius-sm: 0.25rem;
    --ct-border-radius-lg: 0.5rem;
    --ct-border-radius-xl: 1rem;
    --ct-border-radius-xxl: 2rem;
    --ct-border-radius-2xl: var(--ct-border-radius-xxl);
    --ct-border-radius-pill: 50rem;
    --ct-box-shadow: 0 1px 3px rgba(27, 23, 30, 0.1);
    --ct-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--ct-body-color-rgb), 0.15);
    --ct-box-shadow-lg: 0 0 45px 0 rgba(var(--ct-body-color-rgb), 0.2);
    --ct-box-shadow-inset: inset 0 1px 2px rgba(var(--ct-body-color-rgb), 0.075);
    --ct-focus-ring-width: 0.25rem;
    --ct-focus-ring-opacity: 0.25;
    --ct-focus-ring-color: rgba(109, 160, 156, 0.25);
    --ct-form-valid-color: #87bf8a;
    --ct-form-valid-border-color: #87bf8a;
    --ct-form-invalid-color: #e7607b;
    --ct-form-invalid-border-color: #e7607b
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --ct-body-color: #aab8c5;
    --ct-body-color-rgb: 170, 184, 197;
    --ct-body-bg: #2d333c;
    --ct-body-bg-rgb: 45, 51, 60;
    --ct-emphasis-color: #f8f9fa;
    --ct-emphasis-color-rgb: 248, 249, 250;
    --ct-secondary-color: #8391a2;
    --ct-secondary-color-rgb: 131, 145, 162;
    --ct-secondary-bg: #313a46;
    --ct-secondary-bg-rgb: 49, 58, 70;
    --ct-tertiary-color: #f1f1f1;
    --ct-tertiary-color-rgb: 241, 241, 241;
    --ct-tertiary-bg: #404954;
    --ct-tertiary-bg-rgb: 64, 73, 84;
    --ct-primary-text-emphasis: #3856c0;
    --ct-secondary-text-emphasis: #6c757d;
    --ct-success-text-emphasis: #7aac7c;
    --ct-info-text-emphasis: #28bbc9;
    --ct-warning-text-emphasis: #c28e65;
    --ct-danger-text-emphasis: #d0566f;
    --ct-light-text-emphasis: #6c757d;
    --ct-dark-text-emphasis: #6c757d;
    --ct-primary-bg-subtle: rgba(var(--ct-primary-rgb), 0.2);
    --ct-secondary-bg-subtle: rgba(var(--ct-secondary-rgb), 0.2);
    --ct-success-bg-subtle: rgba(var(--ct-success-rgb), 0.2);
    --ct-info-bg-subtle: rgba(var(--ct-info-rgb), 0.2);
    --ct-warning-bg-subtle: rgba(var(--ct-warning-rgb), 0.2);
    --ct-danger-bg-subtle: rgba(var(--ct-danger-rgb), 0.2);
    --ct-light-bg-subtle: rgba(var(--ct-light-rgb), 0.2);
    --ct-dark-bg-subtle: rgba(var(--ct-dark-rgb), 0.2);
    --ct-primary-border-subtle: #253a80;
    --ct-secondary-border-subtle: #495057;
    --ct-success-border-subtle: #517353;
    --ct-info-border-subtle: #125359;
    --ct-warning-border-subtle: #563f2d;
    --ct-danger-border-subtle: #8b3a4a;
    --ct-light-border-subtle: #495057;
    --ct-dark-border-subtle: #343a40;
    --ct-heading-color: inherit;
    --ct-link-color: #3e60d5;
    --ct-link-hover-color: #3856c0;
    --ct-link-color-rgb: 62, 96, 213;
    --ct-link-hover-color-rgb: 56, 86, 192;
    --ct-code-color: #2cd0df;
    --ct-border-color: #464f5b;
    --ct-border-color-translucent: #464f5b;
    --ct-form-valid-color: #b7d9b9;
    --ct-form-valid-border-color: #b7d9b9;
    --ct-form-invalid-color: #f1a0b0;
    --ct-form-invalid-border-color: #f1a0b0
}
